*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
 min-height: 100vh;
 background-color: #091831;
 display: grid;
 place-items: center;
}
.calculadora{
    background-color: #15173c;
    color: white;
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    width:350px;
    max-width:100%;
    gap: .5rem;
}

.pantalla{
    grid-column: 1/-1;
    background-color: #090c31;
    padding: 1.5rem;
    font-size:1.5rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 10px;
    margin: 1rem;
    max-width: 500px;
    max-height: auto;
    overflow: auto;
}

.btn {
    background-color:  #15173c;
    color:white;
    border:0;
    display: flex;
    padding: 1.5rem .5rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
}

.btn:hover{
    background-color: #090c31;

}
#cero {
    grid-column: span 2;
}

#igual{
    grid-row: span 1;
    margin: 12%;
    background-color: #e6394a;

}

#igual:hover{
    background-color: #e65766;
}

#miTabla{
    background-color: #fefefe;
    border-radius: .5rem;
    display:grid;
    place-items: center;
    margin-top: .5rem; 
      
   
}
.cuerpo{
    display: inline-flex;
    
}

.agregar{
    margin-top: px;
    
}

input{
    width: 50px;
}

#respuesta{
    display: flex;
    width: 250px;
    height: 15vh;
    max-width: 350rem;
}

body{
    margin-top: 0;

}

.boton-enlace {
    display: inline-block;
    height: 2.5rem;
    background-color: white; /* Color de fondo del botón */
    color: black; /* Color del texto */
    padding: 1rem 2rem; /* Espaciado interno */
    text-align: center;
    text-decoration: none;
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
   
  }
  
  .boton-enlace:hover {
    background-color: #e6394a; /* Cambia el color de fondo al pasar el cursor */
  }
