
@media screen and (min-width: 700px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }
    
    body{
        margin-top: 0;
        background-color: #15173c;
        color: aliceblue;
    }
    
     a{
        width: 100%;
        height: 4vh;
        display: inline-flex;
        
       
    }
    main{
     min-height: 100vh;
     background-color: #091831;
     display: grid;
     place-items: center;
     padding: 50px;
    }
    
    #Cuerpo{
        display: flexbox;
        flex-direction: column;
    
    }
    .card{
        margin: 2rem;   
        
    
    }
    
    .Description-media, p , h2{
        padding: 10px 2.5rem 2rem;
    }
    
    .navbar-toggler >* {
        background-color: aliceblue;
        color: whitesmoke;
    }
    
}